{# Date and time picker (flatpickr): planning pages and callsign records.
   SRI hashes: see packaging/tm-activation/fetch_vendor.py, which bundles
   these files into the standalone app (network without Internet). #}
<link rel="stylesheet" href="{{ asset('/static/vendor/flatpickr/flatpickr.min.css') }}">
<script src="{{ asset('/static/vendor/flatpickr/flatpickr.min.js') }}"></script>
<script src="{{ asset('/static/vendor/flatpickr/fr.js') }}"></script>
<script src="{{ asset('/static/js/activation-datetime.js') }}" defer></script>
