{# Calendrier de saisie des dates et heures (flatpickr) : pages de planning et
   fiches d'indicatif. Empreintes SRI : voir packaging/tm-activation/fetch_vendor.py,
   qui embarque ces fichiers dans l'application autonome (réseau sans Internet). #}
<link rel="stylesheet" href="{{ asset('/static/vendor/flatpickr/flatpickr.min.css') }}">
<script src="{{ asset('/static/vendor/flatpickr/flatpickr.min.js') }}"></script>
<script src="{{ asset('/static/vendor/flatpickr/fr.js') }}"></script>
<script src="{{ asset('/static/js/activation-datetime.js') }}" defer></script>
